{%extends 'base.html'%}
{%block styles%}
{{block.super}}
<link rel="stylesheet" href="../static/css/home.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
{%endblock%}

{% block content %}
<div class="main" style="font-family: 'Montserrat'; display: ruby-base-container; background-color: 353535;">
    <div class="jumbotron" style="background-color: 353535; height: 48px; width: auto;">
        <h1 style="text-align: center; color: indigo;" >Project Awards</h1>  
    </div>
</div>
<div>
    <marquee style="font-family: 'Montserrat'; scroll-behavior: smooth; shape-rendering: geometricPrecision; font-size: larger; color:beige">This web application allows the user to upload projects they have worked on before and also rate those of other users</marquee>
</div>
<h2 class="text-center" style="font-family: 'Montserrat'; background-color: #353535; font-size: larger; font-weight: 900; color: ivory;">Samples of my projects</h2>
<hr>
<div class="projects" style="font-family: 'Montserrat'; font-size: larger; font-weight: 900; background-color:#353535;">
    {%for project in projects%}
    <div class="project card">

        <img class="landing" src="{{project.Landing.url}}" alt="landing">
        <div class="owner">
            <p>{{project.Title}}</p>
            <div>
                <p class="by">
                    <small>Project by</small>
                    <img class="profile" src="{{project.User.profilepic.url}}" alt="">
                    <em>{{project.User.name}}</em>
                </p>
            </div>
        </div>
        <a class="bg-dark btn text-white" href="project/single/{{project.id}}">View Project</a>
    </div>

    {%endfor%}

</div>

{%endblock%}